html {
  overflow-x: hidden; }

mark {
  background-color: #ffc107; }

.jumbotron {
  background-image: url("https://cdn.pixabay.com/photo/2016/06/10/01/03/hotel-1447197_960_720.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

.rebote img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 100px;
  position: relative;
  -webkit-animation-name: rebote;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse;
  /* Chrome, Safari, Opera */
  animation-name: rebote;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out; }

.rebote span {
  background-color: #2f2b2b;
  display: block;
  margin-top: -4px;
  height: 15px;
  width: 200px; }

/* Standard syntax */
@keyframes rebote {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 0px;
    top: 0px; }
  50% {
    left: 0px;
    top: -100px; }
  75% {
    left: 0px;
    top: -100px; }
  100% {
    left: 0px;
    top: 0px; } }

@media only screen and (max-width: 990px) {
  #navbarTogglerDemo01 {
    background-color: white; } }
